.idea
.code
**/vendor/
.pulumi
.pulumi-state
**/bin/
**/obj/
Pulumi.*.yaml
**/node_modules/
.DS_Store

**/command-output/

.idea/
*.iml
*.sln
.vscode/settings.json

yarn.lock
**/pulumiManifest.go

ci-scripts
provider/**/schema-embed.json
**/version.txt
**/nuget
**/dist

sdk/python/venv

go.work
go.work.sum

# Ignore local build tracking directory
.make
