---
version: 2
interactions:
    - id: 0
      request:
        host: app.files.com
        url: https://app.files.com/api/rest/v1/folders/pulumi-filescom-test/f97574a3
        method: POST
      response:
        body: '{"path":"pulumi-filescom-test/f97574a3","created_by_id":1437572,"created_by_api_key_id":5602101,"created_by_as2_incoming_message_id":null,"created_by_automation_id":null,"created_by_bundle_registration_id":null,"created_by_inbox_id":null,"created_by_remote_server_id":null,"created_by_sync_id":null,"custom_metadata":{},"display_name":"f97574a3","type":"directory","size":null,"created_at":"2026-09-29T22:01:59Z","last_modified_by_id":1437572,"last_modified_by_api_key_id":5602101,"last_modified_by_automation_id":null,"last_modified_by_bundle_registration_id":null,"last_modified_by_remote_server_id":null,"last_modified_by_sync_id":null,"mtime":"2026-09-29T22:01:59Z","provided_mtime":null,"crc32":null,"md5":null,"sha1":null,"sha256":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 121.72775ms
    - id: 1
      request:
        host: app.files.com
        body: '{"expires_at":null,"name":"pulumi-test-apikey-6b46449f","path":"pulumi-filescom-test/f97574a3","permission_set":"files_only"}'
        headers:
            Content-Type:
                - application/json
        url: https://app.files.com/api/rest/v1/api_keys
        method: POST
      response:
        body: '{"aws_secret_key":null,"aws_style_credentials":false,"created_at":"2026-09-29T18:02:01-04:00","description":null,"descriptive_label":"Site-wide API key for https://jschady2.files.com (key ID #5602716)","expires_at":null,"id":5602716,"key":"REDACTED","last_use_at":null,"name":"pulumi-test-apikey-6b46449f","path":"pulumi-filescom-test/f97574a3","permission_set":"files_only","platform":null,"site_id":153656,"site_name":"jschady2","url":"https://jschady2.files.com","user_id":null,"workspace_id":0}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 109.173959ms
    - id: 2
      request:
        host: app.files.com
        form:
            per_page:
                - "1000"
        url: https://app.files.com/api/rest/v1/api_keys?per_page=1000
        method: GET
      response:
        body: '[{"id":5602716,"descriptive_label":"Site-wide API key for https://jschady2.files.com (key ID #5602716)","description":null,"created_at":"2026-09-29T18:02:01-04:00","expires_at":null,"aws_style_credentials":false,"last_use_at":null,"name":"pulumi-test-apikey-6b46449f","path":"pulumi-filescom-test/f97574a3","permission_set":"files_only","platform":null,"site_id":153656,"site_name":"jschady2","url":"https://jschady2.files.com","user_id":null,"workspace_id":0},{"id":5602101,"descriptive_label":"jlschady@gmail.com user-level API key for https://jschady2.files.com (key ID #5602101)","description":"","created_at":"2026-09-29T16:09:29-04:00","expires_at":"2027-10-10T00:00:00-04:00","aws_style_credentials":false,"last_use_at":"2026-09-29T17:33:59-04:00","name":"tmp","path":null,"permission_set":"full","platform":null,"site_id":153656,"site_name":"jschady2","url":"https://jschady2.files.com","user_id":1437572,"workspace_id":0}]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 48.030958ms
    - id: 3
      request:
        host: app.files.com
        body: '{"id":5602716,"name":"pulumi-test-apikey-6b46449f-renamed"}'
        headers:
            Content-Type:
                - application/json
        url: https://app.files.com/api/rest/v1/api_keys/5602716
        method: PATCH
      response:
        body: '{"id":5602716,"descriptive_label":"Site-wide API key for https://jschady2.files.com (key ID #5602716)","description":null,"created_at":"2026-09-29T18:02:01-04:00","expires_at":null,"aws_style_credentials":false,"last_use_at":null,"name":"pulumi-test-apikey-6b46449f-renamed","path":"pulumi-filescom-test/f97574a3","permission_set":"files_only","platform":null,"site_id":153656,"site_name":"jschady2","url":"https://jschady2.files.com","user_id":null,"workspace_id":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.188333ms
[...]
    - id: 10
      request:
        host: app.files.com
        url: https://app.files.com/api/rest/v1/api_key
        method: GET
      response:
        body: '{"id":5602101,"descriptive_label":"jlschady@gmail.com user-level API key for https://jschady2.files.com (key ID #5602101)","description":"","created_at":"2026-09-29T16:09:29-04:00","expires_at":"2027-10-10T00:00:00-04:00","aws_style_credentials":false,"last_use_at":"2026-09-29T17:33:59-04:00","name":"tmp","path":null,"permission_set":"full","platform":null,"site_id":153656,"site_name":"jschady2","url":"https://jschady2.files.com","user_id":1437572,"workspace_id":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 39.767667ms
[...]
    - id: 16
      request:
        host: app.files.com
        form:
            recursive:
                - "true"
        url: https://app.files.com/api/rest/v1/files/pulumi-filescom-test/f97574a3?recursive=true
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 61.083333ms
    - id: 17
      request:
        host: app.files.com
        url: https://app.files.com/api/rest/v1/api_keys/5602716
        method: DELETE
      response:
        body: '{"error":"Not Found.  This may be related to your permissions.","http-code":404,"instance":"e94a1d6de1bd2078e2cd72c3857f87ee","title":"Not Found","type":"not-found"}'
        headers:
            Content-Type:
                - application/json
            X-Files-Error-Class:
                - not-found
        status: 404 Not Found
        code: 404
        duration: 49.473417ms
[...]
