---
version: 2
interactions:
    - id: 0
      request:
        host: app.files.com
        url: https://app.files.com/api/rest/v1/folders/pulumi-filescom-test/02120ec7
        method: POST
      response:
        body: '{"path":"pulumi-filescom-test/02120ec7","created_by_id":1437572,"created_by_api_key_id":5602101,"created_by_as2_incoming_message_id":null,"created_by_automation_id":null,"created_by_bundle_registration_id":null,"created_by_inbox_id":null,"created_by_remote_server_id":null,"created_by_sync_id":null,"custom_metadata":{},"display_name":"02120ec7","type":"directory","size":null,"created_at":"2026-09-29T22:03:10Z","last_modified_by_id":1437572,"last_modified_by_api_key_id":5602101,"last_modified_by_automation_id":null,"last_modified_by_bundle_registration_id":null,"last_modified_by_remote_server_id":null,"last_modified_by_sync_id":null,"mtime":"2026-09-29T22:03:10Z","provided_mtime":null,"crc32":null,"md5":null,"sha1":null,"sha256":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 100.047709ms
    - id: 1
      request:
        host: app.files.com
        body: '{"name":"pulumi-test-group-117ff252","notes":"The group of the basic example."}'
        headers:
            Content-Type:
                - application/json
        url: https://app.files.com/api/rest/v1/groups
        method: POST
      response:
        body: '{"id":102129,"name":"pulumi-test-group-117ff252","allowed_ips":null,"admin_ids":"","notes":"The group of the basic example.","user_ids":"","usernames":"","ai_assistant_personality_id":null,"ftp_permission":false,"sftp_permission":false,"dav_permission":false,"restapi_permission":false,"s3_compatible_endpoint_permission":false,"desktop_configuration_profile_id":null,"integration_centric_profile_id":null,"site_id":153656,"workspace_id":0}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 59.461334ms
    - id: 2
      request:
        host: app.files.com
        body: '{"behavior":"webhook","name":"pulumi-test-behavior-bb89c975","path":"pulumi-filescom-test/02120ec7","value":{"headers":{"x-pulumi-filescom-probe":"v1"},"method":"POST","triggers":["create"],"urls":["https://example.com/pulumi-filescom-behavior-probe"]}}'
        headers:
            Content-Type:
                - application/json
        url: https://app.files.com/api/rest/v1/behaviors
        method: POST
      response:
        body: '{"id":598063,"path":"pulumi-filescom-test/02120ec7","behavior":"webhook","name":"pulumi-test-behavior-bb89c975","description":null,"value":{"headers":{"x-pulumi-filescom-probe":"v1"},"method":"POST","triggers":["create"],"urls":["https://example.com/pulumi-filescom-behavior-probe"]},"disable_parent_folder_behavior":false,"recursive":true,"inherited":false,"managed":false,"root_behavior_site_admin_only":false}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 84.169042ms
    - id: 3
      request:
        host: app.files.com
        form:
            per_page:
                - "1000"
        url: https://app.files.com/api/rest/v1/groups?per_page=1000
        method: GET
      response:
        body: '[{"id":102129,"name":"pulumi-test-group-117ff252","allowed_ips":null,"admin_ids":"","notes":"The group of the basic example.","user_ids":"","usernames":"","ai_assistant_personality_id":null,"ftp_permission":false,"sftp_permission":false,"dav_permission":false,"restapi_permission":false,"s3_compatible_endpoint_permission":false,"desktop_configuration_profile_id":null,"integration_centric_profile_id":null,"site_id":153656,"workspace_id":0}]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 33.2495ms
    - id: 4
      request:
        host: app.files.com
        form:
            per_page:
                - "1000"
        url: https://app.files.com/api/rest/v1/behaviors?per_page=1000
        method: GET
      response:
        body: '[{"id":598063,"path":"pulumi-filescom-test/02120ec7","behavior":"webhook","name":"pulumi-test-behavior-bb89c975","description":null,"value":{"headers":{"x-pulumi-filescom-probe":"v1"},"method":"POST","triggers":["create"],"urls":["https://example.com/pulumi-filescom-behavior-probe"]},"disable_parent_folder_behavior":false,"recursive":true,"inherited":false,"managed":false,"root_behavior_site_admin_only":false}]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 35.721417ms
    - id: 5
      request:
        host: app.files.com
        headers:
        url: https://app.files.com/api/rest/v1/groups/102129
        method: GET
      response:
        body: '{"id":102129,"name":"pulumi-test-group-117ff252","allowed_ips":null,"admin_ids":"","notes":"The group of the basic example.","user_ids":"","usernames":"","ai_assistant_personality_id":null,"ftp_permission":false,"sftp_permission":false,"dav_permission":false,"restapi_permission":false,"s3_compatible_endpoint_permission":false,"desktop_configuration_profile_id":null,"integration_centric_profile_id":null,"site_id":153656,"workspace_id":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 33.528125ms
    - id: 6
      request:
        host: app.files.com
        headers:
        url: https://app.files.com/api/rest/v1/behaviors/598063
        method: GET
      response:
        body: '{"id":598063,"path":"pulumi-filescom-test/02120ec7","behavior":"webhook","name":"pulumi-test-behavior-bb89c975","description":null,"value":{"headers":{"x-pulumi-filescom-probe":"v1"},"method":"POST","triggers":["create"],"urls":["https://example.com/pulumi-filescom-behavior-probe"]},"disable_parent_folder_behavior":false,"recursive":true,"inherited":false,"managed":false,"root_behavior_site_admin_only":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 38.154583ms
[...]
    - id: 11
      request:
        host: app.files.com
        form:
            recursive:
                - "true"
        url: https://app.files.com/api/rest/v1/files/pulumi-filescom-test/02120ec7?recursive=true
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 62.985167ms
