---
version: 2
interactions:
    - id: 0
      request:
        host: app.files.com
        url: https://app.files.com/api/rest/v1/folders/pulumi-filescom-test/b37799d6
        method: POST
      response:
        body: '{"path":"pulumi-filescom-test/b37799d6","created_by_id":1400342,"created_by_api_key_id":5450823,"created_by_as2_incoming_message_id":null,"created_by_automation_id":null,"created_by_bundle_registration_id":null,"created_by_inbox_id":null,"created_by_remote_server_id":null,"created_by_sync_id":null,"custom_metadata":{},"display_name":"b37799d6","type":"directory","size":null,"created_at":"2026-08-26T01:18:01Z","last_modified_by_id":1400342,"last_modified_by_api_key_id":5450823,"last_modified_by_automation_id":null,"last_modified_by_bundle_registration_id":null,"last_modified_by_remote_server_id":null,"last_modified_by_sync_id":null,"mtime":"2026-08-26T01:18:01Z","provided_mtime":null,"crc32":null,"md5":null,"sha1":null,"sha256":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 122.438917ms
[...]
    - id: 2
      request:
        host: app.files.com
        body: '{"behavior":"webhook","name":"pulumi-test-behavior-e962c309","path":"pulumi-filescom-test/b37799d6","value":{"headers":{"x-pulumi-filescom-probe":"v1"},"method":"POST","triggers":["create"],"urls":["https://example.com/pulumi-filescom-behavior-probe"]}}'
        headers:
            Content-Type:
                - application/json
        url: https://app.files.com/api/rest/v1/behaviors
        method: POST
      response:
        body: '{"id":586193,"path":"pulumi-filescom-test/b37799d6","behavior":"webhook","name":"pulumi-test-behavior-e962c309","description":null,"value":{"headers":{"x-pulumi-filescom-probe":"v1"},"method":"POST","triggers":["create"],"urls":["https://example.com/pulumi-filescom-behavior-probe"]},"disable_parent_folder_behavior":false,"recursive":true,"inherited":false,"managed":false,"root_behavior_site_admin_only":false}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 182.641459ms
    - id: 3
      request:
        host: app.files.com
        form:
            per_page:
                - "1000"
        url: https://app.files.com/api/rest/v1/behaviors?per_page=1000
        method: GET
      response:
        body: '[{"id":586193,"path":"pulumi-filescom-test/b37799d6","behavior":"webhook","name":"pulumi-test-behavior-e962c309","description":null,"value":{"headers":{"x-pulumi-filescom-probe":"v1"},"method":"POST","triggers":["create"],"urls":["https://example.com/pulumi-filescom-behavior-probe"]},"disable_parent_folder_behavior":false,"recursive":true,"inherited":false,"managed":false,"root_behavior_site_admin_only":false}]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 65.535625ms
    - id: 4
      request:
        host: app.files.com
        headers:
        url: https://app.files.com/api/rest/v1/behaviors/586193
        method: GET
      response:
        body: '{"id":586193,"path":"pulumi-filescom-test/b37799d6","behavior":"webhook","name":"pulumi-test-behavior-e962c309","description":null,"value":{"headers":{"x-pulumi-filescom-probe":"v1"},"method":"POST","triggers":["create"],"urls":["https://example.com/pulumi-filescom-behavior-probe"]},"disable_parent_folder_behavior":false,"recursive":true,"inherited":false,"managed":false,"root_behavior_site_admin_only":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 97.5355ms
    - id: 5
      request:
        host: app.files.com
        body: '{"id":586193,"name":"pulumi-test-behavior-e962c309","value":{"headers":{"x-pulumi-filescom-probe":"v1", "x-pulumi-filescom-probe-2":"v2"},"method":"POST","triggers":["create"],"urls":["https://example.com/pulumi-filescom-behavior-probe"]}}'
        headers:
            Content-Type:
                - application/json
        url: https://app.files.com/api/rest/v1/behaviors/586193
        method: PATCH
      response:
        body: '{"id":586193,"path":"pulumi-filescom-test/b37799d6","behavior":"webhook","name":"pulumi-test-behavior-e962c309","description":null,"value":{"headers":{"x-pulumi-filescom-probe":"v1", "x-pulumi-filescom-probe-2":"v2"},"method":"POST","triggers":["create"],"urls":["https://example.com/pulumi-filescom-behavior-probe"]},"disable_parent_folder_behavior":false,"recursive":true,"inherited":false,"managed":false,"root_behavior_site_admin_only":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 109.713583ms
[...]
    - id: 12
      request:
        host: app.files.com
        body: '{"behavior":"file_expiration","name":"pulumi-test-behavior-e962c309","path":"pulumi-filescom-test/95e9ce6c","value":{"days_to_retain":30,"delete_empty_folders":false}}'
        headers:
            Content-Type:
                - application/json
        url: https://app.files.com/api/rest/v1/behaviors
        method: POST
      response:
        body: '{"id":586195,"path":"pulumi-filescom-test/95e9ce6c","behavior":"file_expiration","name":"pulumi-test-behavior-e962c309","description":null,"value":{"days_to_retain":30,"delete_empty_folders":false},"disable_parent_folder_behavior":false,"recursive":true,"inherited":false,"managed":false,"root_behavior_site_admin_only":false}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 114.7345ms
[...]
    - id: 20
      request:
        host: app.files.com
        form:
            recursive:
                - "true"
        url: https://app.files.com/api/rest/v1/files/pulumi-filescom-test/95e9ce6c?recursive=true
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 95.396167ms
[...]
