---
version: 2
interactions:
    - id: 0
      request:
        host: app.files.com
        url: https://app.files.com/api/rest/v1/folders/pulumi-filescom-test/18e6cf3c
        method: POST
      response:
        body: '{"path":"pulumi-filescom-test/18e6cf3c","created_by_id":1400342,"created_by_api_key_id":5450823,"created_by_as2_incoming_message_id":null,"created_by_automation_id":null,"created_by_bundle_registration_id":null,"created_by_inbox_id":null,"created_by_remote_server_id":null,"created_by_sync_id":null,"custom_metadata":{},"display_name":"18e6cf3c","type":"directory","size":null,"created_at":"2026-08-26T01:18:13Z","last_modified_by_id":1400342,"last_modified_by_api_key_id":5450823,"last_modified_by_automation_id":null,"last_modified_by_bundle_registration_id":null,"last_modified_by_remote_server_id":null,"last_modified_by_sync_id":null,"mtime":"2026-08-26T01:18:13Z","provided_mtime":null,"crc32":null,"md5":null,"sha1":null,"sha256":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 345.145291ms
    - id: 1
      request:
        host: app.files.com
        body: '{"behavior":"webhook","name":"pulumi-test-combined-a3fd0e86-behavior","path":"pulumi-filescom-test/18e6cf3c","value":{"headers":{"x-pulumi-filescom-probe":"v1"},"method":"POST","triggers":["create"],"urls":["https://example.com/pulumi-filescom-behavior-probe"]}}'
        headers:
            Content-Type:
                - application/json
        url: https://app.files.com/api/rest/v1/behaviors
        method: POST
      response:
        body: '{"id":586196,"path":"pulumi-filescom-test/18e6cf3c","behavior":"webhook","name":"pulumi-test-combined-a3fd0e86-behavior","description":null,"value":{"headers":{"x-pulumi-filescom-probe":"v1"},"method":"POST","triggers":["create"],"urls":["https://example.com/pulumi-filescom-behavior-probe"]},"disable_parent_folder_behavior":false,"recursive":true,"inherited":false,"managed":false,"root_behavior_site_admin_only":false}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 133.178209ms
    - id: 2
      request:
        host: app.files.com
        body: '{"name":"pulumi-test-combined-a3fd0e86-group","notes":"Combined coverage for the Files.com bridge."}'
        headers:
            Content-Type:
                - application/json
        url: https://app.files.com/api/rest/v1/groups
        method: POST
      response:
        body: '{"id":99637,"name":"pulumi-test-combined-a3fd0e86-group","allowed_ips":null,"admin_ids":"","notes":"Combined coverage for the Files.com bridge.","user_ids":"","usernames":"","ai_assistant_personality_id":null,"ftp_permission":false,"sftp_permission":false,"dav_permission":false,"restapi_permission":false,"desktop_configuration_profile_id":null,"integration_centric_profile_id":null,"site_id":151632,"workspace_id":0}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 209.466083ms
    - id: 3
      request:
        host: app.files.com
        body: '{"description":"99637","expires_at":null,"name":"pulumi-test-combined-a3fd0e86-key","path":"pulumi-filescom-test/18e6cf3c","permission_set":"files_only"}'
        headers:
            Content-Type:
                - application/json
        url: https://app.files.com/api/rest/v1/api_keys
        method: POST
      response:
        body: '{"aws_secret_key":null,"aws_style_credentials":false,"created_at":"2026-08-25T21:18:14-04:00","description":"99637","descriptive_label":"Site-wide API key for https://jschady.files.com (key ID #5452060)","expires_at":null,"id":5452060,"key":"REDACTED","last_use_at":null,"name":"pulumi-test-combined-a3fd0e86-key","path":"pulumi-filescom-test/18e6cf3c","permission_set":"files_only","platform":null,"site_id":151632,"site_name":"jschady","url":"https://jschady.files.com","user_id":null,"workspace_id":0}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 123.141542ms
    - id: 4
      request:
        host: app.files.com
        form:
            per_page:
                - "1000"
        url: https://app.files.com/api/rest/v1/groups?per_page=1000
        method: GET
      response:
        body: '[{"id":99637,"name":"pulumi-test-combined-a3fd0e86-group","allowed_ips":null,"admin_ids":"","notes":"Combined coverage for the Files.com bridge.","user_ids":"","usernames":"","ai_assistant_personality_id":null,"ftp_permission":false,"sftp_permission":false,"dav_permission":false,"restapi_permission":false,"desktop_configuration_profile_id":null,"integration_centric_profile_id":null,"site_id":151632,"workspace_id":0}]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 53.725667ms
    - id: 5
      request:
        host: app.files.com
        form:
            per_page:
                - "1000"
        url: https://app.files.com/api/rest/v1/behaviors?per_page=1000
        method: GET
      response:
        body: '[{"id":586196,"path":"pulumi-filescom-test/18e6cf3c","behavior":"webhook","name":"pulumi-test-combined-a3fd0e86-behavior","description":null,"value":{"headers":{"x-pulumi-filescom-probe":"v1"},"method":"POST","triggers":["create"],"urls":["https://example.com/pulumi-filescom-behavior-probe"]},"disable_parent_folder_behavior":false,"recursive":true,"inherited":false,"managed":false,"root_behavior_site_admin_only":false}]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 79.965334ms
    - id: 6
      request:
        host: app.files.com
        form:
            per_page:
                - "1000"
        url: https://app.files.com/api/rest/v1/api_keys?per_page=1000
        method: GET
      response:
        body: '[{"id":5450823,"descriptive_label":"joeyschady@gmail.com user-level API key for https://jschady.files.com (key ID #5450823)","description":"","created_at":"2026-08-25T15:22:44-04:00","expires_at":null,"aws_style_credentials":false,"last_use_at":"2026-08-25T21:06:53-04:00","name":"admin","path":null,"permission_set":"full","platform":null,"site_id":151632,"site_name":"jschady","url":"https://jschady.files.com","user_id":1400342,"workspace_id":0},{"id":5452060,"descriptive_label":"Site-wide API key for https://jschady.files.com (key ID #5452060)","description":"99637","created_at":"2026-08-25T21:18:14-04:00","expires_at":null,"aws_style_credentials":false,"last_use_at":null,"name":"pulumi-test-combined-a3fd0e86-key","path":"pulumi-filescom-test/18e6cf3c","permission_set":"files_only","platform":null,"site_id":151632,"site_name":"jschady","url":"https://jschady.files.com","user_id":null,"workspace_id":0}]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 88.009834ms
    - id: 7
      request:
        host: app.files.com
        body: '{"description":"99637","id":5452060,"name":"pulumi-test-combined-a3fd0e86-key-renamed"}'
        headers:
            Content-Type:
                - application/json
        url: https://app.files.com/api/rest/v1/api_keys/5452060
        method: PATCH
      response:
        body: '{"id":5452060,"descriptive_label":"Site-wide API key for https://jschady.files.com (key ID #5452060)","description":"99637","created_at":"2026-08-25T21:18:14-04:00","expires_at":null,"aws_style_credentials":false,"last_use_at":null,"name":"pulumi-test-combined-a3fd0e86-key-renamed","path":"pulumi-filescom-test/18e6cf3c","permission_set":"files_only","platform":null,"site_id":151632,"site_name":"jschady","url":"https://jschady.files.com","user_id":null,"workspace_id":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 91.797625ms
[...]
    - id: 10
      request:
        host: app.files.com
        headers:
        url: https://app.files.com/api/rest/v1/groups/99637
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 116.522708ms
    - id: 11
      request:
        host: app.files.com
        headers:
        url: https://app.files.com/api/rest/v1/behaviors/586196
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 140.796542ms
[...]
    - id: 16
      request:
        host: app.files.com
        url: https://app.files.com/api/rest/v1/api_key
        method: GET
      response:
        body: '{"id":5450823,"descriptive_label":"joeyschady@gmail.com user-level API key for https://jschady.files.com (key ID #5450823)","description":"","created_at":"2026-08-25T15:22:44-04:00","expires_at":null,"aws_style_credentials":false,"last_use_at":"2026-08-25T21:06:53-04:00","name":"admin","path":null,"permission_set":"full","platform":null,"site_id":151632,"site_name":"jschady","url":"https://jschady.files.com","user_id":1400342,"workspace_id":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 51.359041ms
[...]
    - id: 21
      request:
        host: app.files.com
        url: https://app.files.com/api/rest/v1/api_keys/5452060
        method: DELETE
      response:
        body: '{"error":"Not Found.  This may be related to your permissions.","http-code":404,"instance":"2f7df65d1e5d03a13482ec38973990b5","title":"Not Found","type":"not-found"}'
        headers:
            Content-Type:
                - application/json
            X-Files-Error-Class:
                - not-found
        status: 404 Not Found
        code: 404
        duration: 66.613875ms
[...]
    - id: 25
      request:
        host: app.files.com
        form:
            recursive:
                - "true"
        url: https://app.files.com/api/rest/v1/files/pulumi-filescom-test/18e6cf3c?recursive=true
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 95.032667ms
