---
version: 2
interactions:
    - id: 0
      request:
        host: app.files.com
        url: https://app.files.com/api/rest/v1/folders/pulumi-filescom-test/f6b5eba4
        method: POST
      response:
        body: '{"path":"pulumi-filescom-test/f6b5eba4","created_by_id":1400342,"created_by_api_key_id":5450823,"created_by_as2_incoming_message_id":null,"created_by_automation_id":null,"created_by_bundle_registration_id":null,"created_by_inbox_id":null,"created_by_remote_server_id":null,"created_by_sync_id":null,"custom_metadata":{},"display_name":"f6b5eba4","type":"directory","size":null,"created_at":"2026-08-26T01:18:43Z","last_modified_by_id":1400342,"last_modified_by_api_key_id":5450823,"last_modified_by_automation_id":null,"last_modified_by_bundle_registration_id":null,"last_modified_by_remote_server_id":null,"last_modified_by_sync_id":null,"mtime":"2026-08-26T01:18:43Z","provided_mtime":null,"crc32":null,"md5":null,"sha1":null,"sha256":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 150.838584ms
    - id: 1
      request:
        host: app.files.com
        body: '{"name":"pulumi-test-group-ded4b744","notes":"Lifecycle coverage for the Files.com bridge."}'
        headers:
            Content-Type:
                - application/json
        url: https://app.files.com/api/rest/v1/groups
        method: POST
      response:
        body: '{"id":99640,"name":"pulumi-test-group-ded4b744","allowed_ips":null,"admin_ids":"","notes":"Lifecycle coverage for the Files.com bridge.","user_ids":"","usernames":"","ai_assistant_personality_id":null,"ftp_permission":false,"sftp_permission":false,"dav_permission":false,"restapi_permission":false,"desktop_configuration_profile_id":null,"integration_centric_profile_id":null,"site_id":151632,"workspace_id":0}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 83.744791ms
    - id: 2
      request:
        host: app.files.com
        form:
            per_page:
                - "1000"
        url: https://app.files.com/api/rest/v1/groups?per_page=1000
        method: GET
      response:
        body: '[{"id":99640,"name":"pulumi-test-group-ded4b744","allowed_ips":null,"admin_ids":"","notes":"Lifecycle coverage for the Files.com bridge.","user_ids":"","usernames":"","ai_assistant_personality_id":null,"ftp_permission":false,"sftp_permission":false,"dav_permission":false,"restapi_permission":false,"desktop_configuration_profile_id":null,"integration_centric_profile_id":null,"site_id":151632,"workspace_id":0}]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 114.7785ms
    - id: 3
      request:
        host: app.files.com
        body: '{"id":99640,"name":"pulumi-test-group-ded4b744-renamed","notes":"Lifecycle coverage for the Files.com bridge."}'
        headers:
            Content-Type:
                - application/json
        url: https://app.files.com/api/rest/v1/groups/99640
        method: PATCH
      response:
        body: '{"id":99640,"name":"pulumi-test-group-ded4b744-renamed","allowed_ips":null,"admin_ids":"","notes":"Lifecycle coverage for the Files.com bridge.","user_ids":"","usernames":"","ai_assistant_personality_id":null,"ftp_permission":false,"sftp_permission":false,"dav_permission":false,"restapi_permission":false,"desktop_configuration_profile_id":null,"integration_centric_profile_id":null,"site_id":151632,"workspace_id":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 81.819208ms
[...]
    - id: 8
      request:
        host: app.files.com
        form:
            recursive:
                - "true"
        url: https://app.files.com/api/rest/v1/files/pulumi-filescom-test/f6b5eba4?recursive=true
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 135.820083ms
[...]
