---
version: 2
interactions:
    - id: 0
      request:
        host: app.files.com
        url: https://app.files.com/api/rest/v1/folders/pulumi-filescom-test/1872f54f
        method: POST
      response:
        body: '{"path":"pulumi-filescom-test/1872f54f","created_by_id":1437572,"created_by_api_key_id":5602101,"created_by_as2_incoming_message_id":null,"created_by_automation_id":null,"created_by_bundle_registration_id":null,"created_by_inbox_id":null,"created_by_remote_server_id":null,"created_by_sync_id":null,"custom_metadata":{},"display_name":"1872f54f","type":"directory","size":null,"created_at":"2026-09-29T22:02:07Z","last_modified_by_id":1437572,"last_modified_by_api_key_id":5602101,"last_modified_by_automation_id":null,"last_modified_by_bundle_registration_id":null,"last_modified_by_remote_server_id":null,"last_modified_by_sync_id":null,"mtime":"2026-09-29T22:02:07Z","provided_mtime":null,"crc32":null,"md5":null,"sha1":null,"sha256":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 89.294292ms
[...]
    - id: 2
      request:
        host: app.files.com
        body: '{"behavior":"webhook","name":"pulumi-test-behavior-29a84532","path":"pulumi-filescom-test/1872f54f","value":{"headers":{"x-pulumi-filescom-probe":"v1"},"method":"POST","triggers":["create"],"urls":["https://example.com/pulumi-filescom-behavior-probe"]}}'
        headers:
            Content-Type:
                - application/json
        url: https://app.files.com/api/rest/v1/behaviors
        method: POST
      response:
        body: '{"id":598056,"path":"pulumi-filescom-test/1872f54f","behavior":"webhook","name":"pulumi-test-behavior-29a84532","description":null,"value":{"headers":{"x-pulumi-filescom-probe":"v1"},"method":"POST","triggers":["create"],"urls":["https://example.com/pulumi-filescom-behavior-probe"]},"disable_parent_folder_behavior":false,"recursive":true,"inherited":false,"managed":false,"root_behavior_site_admin_only":false}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 79.138333ms
    - id: 3
      request:
        host: app.files.com
        form:
            per_page:
                - "1000"
        url: https://app.files.com/api/rest/v1/behaviors?per_page=1000
        method: GET
      response:
        body: '[{"id":598056,"path":"pulumi-filescom-test/1872f54f","behavior":"webhook","name":"pulumi-test-behavior-29a84532","description":null,"value":{"headers":{"x-pulumi-filescom-probe":"v1"},"method":"POST","triggers":["create"],"urls":["https://example.com/pulumi-filescom-behavior-probe"]},"disable_parent_folder_behavior":false,"recursive":true,"inherited":false,"managed":false,"root_behavior_site_admin_only":false}]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 44.292583ms
    - id: 4
      request:
        host: app.files.com
        headers:
        url: https://app.files.com/api/rest/v1/behaviors/598056
        method: GET
      response:
        body: '{"id":598056,"path":"pulumi-filescom-test/1872f54f","behavior":"webhook","name":"pulumi-test-behavior-29a84532","description":null,"value":{"headers":{"x-pulumi-filescom-probe":"v1"},"method":"POST","triggers":["create"],"urls":["https://example.com/pulumi-filescom-behavior-probe"]},"disable_parent_folder_behavior":false,"recursive":true,"inherited":false,"managed":false,"root_behavior_site_admin_only":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 39.891834ms
    - id: 5
      request:
        host: app.files.com
        body: '{"id":598056,"name":"pulumi-test-behavior-29a84532","value":{"headers":{"x-pulumi-filescom-probe":"v1", "x-pulumi-filescom-probe-2":"v2"},"method":"POST","triggers":["create"],"urls":["https://example.com/pulumi-filescom-behavior-probe"]}}'
        headers:
            Content-Type:
                - application/json
        url: https://app.files.com/api/rest/v1/behaviors/598056
        method: PATCH
      response:
        body: '{"id":598056,"path":"pulumi-filescom-test/1872f54f","behavior":"webhook","name":"pulumi-test-behavior-29a84532","description":null,"value":{"headers":{"x-pulumi-filescom-probe":"v1", "x-pulumi-filescom-probe-2":"v2"},"method":"POST","triggers":["create"],"urls":["https://example.com/pulumi-filescom-behavior-probe"]},"disable_parent_folder_behavior":false,"recursive":true,"inherited":false,"managed":false,"root_behavior_site_admin_only":false}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 64.612708ms
[...]
    - id: 12
      request:
        host: app.files.com
        body: '{"behavior":"file_expiration","name":"pulumi-test-behavior-29a84532","path":"pulumi-filescom-test/2fd40877","value":{"days_to_retain":30,"delete_empty_folders":false}}'
        headers:
            Content-Type:
                - application/json
        url: https://app.files.com/api/rest/v1/behaviors
        method: POST
      response:
        body: '{"id":598058,"path":"pulumi-filescom-test/2fd40877","behavior":"file_expiration","name":"pulumi-test-behavior-29a84532","description":null,"value":{"days_to_retain":30,"delete_empty_folders":false},"disable_parent_folder_behavior":false,"recursive":true,"inherited":false,"managed":false,"root_behavior_site_admin_only":false}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 71.415208ms
[...]
    - id: 20
      request:
        host: app.files.com
        form:
            recursive:
                - "true"
        url: https://app.files.com/api/rest/v1/files/pulumi-filescom-test/2fd40877?recursive=true
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 58.415792ms
[...]
