---
version: 2
interactions:
    - id: 0
      request:
        host: app.files.com
        url: https://app.files.com/api/rest/v1/folders/pulumi-filescom-test/b02bf9a1
        method: POST
      response:
        body: '{"path":"pulumi-filescom-test/b02bf9a1","created_by_id":1400342,"created_by_api_key_id":5450823,"created_by_as2_incoming_message_id":null,"created_by_automation_id":null,"created_by_bundle_registration_id":null,"created_by_inbox_id":null,"created_by_remote_server_id":null,"created_by_sync_id":null,"custom_metadata":{},"display_name":"b02bf9a1","type":"directory","size":null,"created_at":"2026-08-26T01:17:52Z","last_modified_by_id":1400342,"last_modified_by_api_key_id":5450823,"last_modified_by_automation_id":null,"last_modified_by_bundle_registration_id":null,"last_modified_by_remote_server_id":null,"last_modified_by_sync_id":null,"mtime":"2026-08-26T01:17:52Z","provided_mtime":null,"crc32":null,"md5":null,"sha1":null,"sha256":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 203.986ms
    - id: 1
      request:
        host: app.files.com
        body: '{"expires_at":null,"name":"pulumi-test-apikey-0a179875","path":"pulumi-filescom-test/b02bf9a1","permission_set":"files_only"}'
        headers:
            Content-Type:
                - application/json
        url: https://app.files.com/api/rest/v1/api_keys
        method: POST
      response:
        body: '{"aws_secret_key":null,"aws_style_credentials":false,"created_at":"2026-08-25T21:17:54-04:00","description":null,"descriptive_label":"Site-wide API key for https://jschady.files.com (key ID #5452058)","expires_at":null,"id":5452058,"key":"REDACTED","last_use_at":null,"name":"pulumi-test-apikey-0a179875","path":"pulumi-filescom-test/b02bf9a1","permission_set":"files_only","platform":null,"site_id":151632,"site_name":"jschady","url":"https://jschady.files.com","user_id":null,"workspace_id":0}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 98.659958ms
    - id: 2
      request:
        host: app.files.com
        form:
            per_page:
                - "1000"
        url: https://app.files.com/api/rest/v1/api_keys?per_page=1000
        method: GET
      response:
        body: '[{"id":5450823,"descriptive_label":"joeyschady@gmail.com user-level API key for https://jschady.files.com (key ID #5450823)","description":"","created_at":"2026-08-25T15:22:44-04:00","expires_at":null,"aws_style_credentials":false,"last_use_at":"2026-08-25T21:06:53-04:00","name":"admin","path":null,"permission_set":"full","platform":null,"site_id":151632,"site_name":"jschady","url":"https://jschady.files.com","user_id":1400342,"workspace_id":0},{"id":5452058,"descriptive_label":"Site-wide API key for https://jschady.files.com (key ID #5452058)","description":null,"created_at":"2026-08-25T21:17:54-04:00","expires_at":null,"aws_style_credentials":false,"last_use_at":null,"name":"pulumi-test-apikey-0a179875","path":"pulumi-filescom-test/b02bf9a1","permission_set":"files_only","platform":null,"site_id":151632,"site_name":"jschady","url":"https://jschady.files.com","user_id":null,"workspace_id":0}]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 104.064542ms
    - id: 3
      request:
        host: app.files.com
        body: '{"id":5452058,"name":"pulumi-test-apikey-0a179875-renamed"}'
        headers:
            Content-Type:
                - application/json
        url: https://app.files.com/api/rest/v1/api_keys/5452058
        method: PATCH
      response:
        body: '{"id":5452058,"descriptive_label":"Site-wide API key for https://jschady.files.com (key ID #5452058)","description":null,"created_at":"2026-08-25T21:17:54-04:00","expires_at":null,"aws_style_credentials":false,"last_use_at":null,"name":"pulumi-test-apikey-0a179875-renamed","path":"pulumi-filescom-test/b02bf9a1","permission_set":"files_only","platform":null,"site_id":151632,"site_name":"jschady","url":"https://jschady.files.com","user_id":null,"workspace_id":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 122.348458ms
[...]
    - id: 10
      request:
        host: app.files.com
        url: https://app.files.com/api/rest/v1/api_key
        method: GET
      response:
        body: '{"id":5450823,"descriptive_label":"joeyschady@gmail.com user-level API key for https://jschady.files.com (key ID #5450823)","description":"","created_at":"2026-08-25T15:22:44-04:00","expires_at":null,"aws_style_credentials":false,"last_use_at":"2026-08-25T21:06:53-04:00","name":"admin","path":null,"permission_set":"full","platform":null,"site_id":151632,"site_name":"jschady","url":"https://jschady.files.com","user_id":1400342,"workspace_id":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 55.445458ms
[...]
    - id: 16
      request:
        host: app.files.com
        form:
            recursive:
                - "true"
        url: https://app.files.com/api/rest/v1/files/pulumi-filescom-test/b02bf9a1?recursive=true
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 121.398875ms
    - id: 17
      request:
        host: app.files.com
        url: https://app.files.com/api/rest/v1/api_keys/5452058
        method: DELETE
      response:
        body: '{"error":"Not Found.  This may be related to your permissions.","http-code":404,"instance":"5290942751d5dd6b1adc4d9f72b7f0e8","title":"Not Found","type":"not-found"}'
        headers:
            Content-Type:
                - application/json
            X-Files-Error-Class:
                - not-found
        status: 404 Not Found
        code: 404
        duration: 141.837417ms
[...]
