---
version: 2
interactions:
    - id: 0
      request:
        host: app.files.com
        url: https://app.files.com/api/rest/v1/folders/pulumi-filescom-test/263912a6
        method: POST
      response:
        body: '{"path":"pulumi-filescom-test/263912a6","created_by_id":1437572,"created_by_api_key_id":5602101,"created_by_as2_incoming_message_id":null,"created_by_automation_id":null,"created_by_bundle_registration_id":null,"created_by_inbox_id":null,"created_by_remote_server_id":null,"created_by_sync_id":null,"custom_metadata":{},"display_name":"263912a6","type":"directory","size":null,"created_at":"2026-09-29T22:02:17Z","last_modified_by_id":1437572,"last_modified_by_api_key_id":5602101,"last_modified_by_automation_id":null,"last_modified_by_bundle_registration_id":null,"last_modified_by_remote_server_id":null,"last_modified_by_sync_id":null,"mtime":"2026-09-29T22:02:17Z","provided_mtime":null,"crc32":null,"md5":null,"sha1":null,"sha256":null,"permissions":"lrwd","subfolders_locked?":false,"is_locked":false}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 75.198375ms
    - id: 1
      request:
        host: app.files.com
        body: '{"name":"pulumi-test-combined-8c40946a-group","notes":"Combined coverage for the Files.com bridge."}'
        headers:
            Content-Type:
                - application/json
        url: https://app.files.com/api/rest/v1/groups
        method: POST
      response:
        body: '{"id":102123,"name":"pulumi-test-combined-8c40946a-group","allowed_ips":null,"admin_ids":"","notes":"Combined coverage for the Files.com bridge.","user_ids":"","usernames":"","ai_assistant_personality_id":null,"ftp_permission":false,"sftp_permission":false,"dav_permission":false,"restapi_permission":false,"s3_compatible_endpoint_permission":false,"desktop_configuration_profile_id":null,"integration_centric_profile_id":null,"site_id":153656,"workspace_id":0}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 48.766958ms
    - id: 2
      request:
        host: app.files.com
        body: '{"behavior":"webhook","name":"pulumi-test-combined-8c40946a-behavior","path":"pulumi-filescom-test/263912a6","value":{"headers":{"x-pulumi-filescom-probe":"v1"},"method":"POST","triggers":["create"],"urls":["https://example.com/pulumi-filescom-behavior-probe"]}}'
        headers:
            Content-Type:
                - application/json
        url: https://app.files.com/api/rest/v1/behaviors
        method: POST
      response:
        body: '{"id":598059,"path":"pulumi-filescom-test/263912a6","behavior":"webhook","name":"pulumi-test-combined-8c40946a-behavior","description":null,"value":{"headers":{"x-pulumi-filescom-probe":"v1"},"method":"POST","triggers":["create"],"urls":["https://example.com/pulumi-filescom-behavior-probe"]},"disable_parent_folder_behavior":false,"recursive":true,"inherited":false,"managed":false,"root_behavior_site_admin_only":false}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 73.586209ms
    - id: 3
      request:
        host: app.files.com
        body: '{"description":"102123","expires_at":null,"name":"pulumi-test-combined-8c40946a-key","path":"pulumi-filescom-test/263912a6","permission_set":"files_only"}'
        headers:
            Content-Type:
                - application/json
        url: https://app.files.com/api/rest/v1/api_keys
        method: POST
      response:
        body: '{"aws_secret_key":null,"aws_style_credentials":false,"created_at":"2026-09-29T18:02:19-04:00","description":"102123","descriptive_label":"Site-wide API key for https://jschady2.files.com (key ID #5602719)","expires_at":null,"id":5602719,"key":"REDACTED","last_use_at":null,"name":"pulumi-test-combined-8c40946a-key","path":"pulumi-filescom-test/263912a6","permission_set":"files_only","platform":null,"site_id":153656,"site_name":"jschady2","url":"https://jschady2.files.com","user_id":null,"workspace_id":0}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 116.144333ms
    - id: 4
      request:
        host: app.files.com
        form:
            per_page:
                - "1000"
        url: https://app.files.com/api/rest/v1/groups?per_page=1000
        method: GET
      response:
        body: '[{"id":102123,"name":"pulumi-test-combined-8c40946a-group","allowed_ips":null,"admin_ids":"","notes":"Combined coverage for the Files.com bridge.","user_ids":"","usernames":"","ai_assistant_personality_id":null,"ftp_permission":false,"sftp_permission":false,"dav_permission":false,"restapi_permission":false,"s3_compatible_endpoint_permission":false,"desktop_configuration_profile_id":null,"integration_centric_profile_id":null,"site_id":153656,"workspace_id":0}]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 33.733625ms
    - id: 5
      request:
        host: app.files.com
        form:
            per_page:
                - "1000"
        url: https://app.files.com/api/rest/v1/behaviors?per_page=1000
        method: GET
      response:
        body: '[{"id":598059,"path":"pulumi-filescom-test/263912a6","behavior":"webhook","name":"pulumi-test-combined-8c40946a-behavior","description":null,"value":{"headers":{"x-pulumi-filescom-probe":"v1"},"method":"POST","triggers":["create"],"urls":["https://example.com/pulumi-filescom-behavior-probe"]},"disable_parent_folder_behavior":false,"recursive":true,"inherited":false,"managed":false,"root_behavior_site_admin_only":false}]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 35.07675ms
    - id: 6
      request:
        host: app.files.com
        form:
            per_page:
                - "1000"
        url: https://app.files.com/api/rest/v1/api_keys?per_page=1000
        method: GET
      response:
        body: '[{"id":5602719,"descriptive_label":"Site-wide API key for https://jschady2.files.com (key ID #5602719)","description":"102123","created_at":"2026-09-29T18:02:19-04:00","expires_at":null,"aws_style_credentials":false,"last_use_at":null,"name":"pulumi-test-combined-8c40946a-key","path":"pulumi-filescom-test/263912a6","permission_set":"files_only","platform":null,"site_id":153656,"site_name":"jschady2","url":"https://jschady2.files.com","user_id":null,"workspace_id":0},{"id":5602101,"descriptive_label":"jlschady@gmail.com user-level API key for https://jschady2.files.com (key ID #5602101)","description":"","created_at":"2026-09-29T16:09:29-04:00","expires_at":"2027-10-10T00:00:00-04:00","aws_style_credentials":false,"last_use_at":"2026-09-29T17:33:59-04:00","name":"tmp","path":null,"permission_set":"full","platform":null,"site_id":153656,"site_name":"jschady2","url":"https://jschady2.files.com","user_id":1437572,"workspace_id":0}]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 42.825667ms
    - id: 7
      request:
        host: app.files.com
        body: '{"description":"102123","id":5602719,"name":"pulumi-test-combined-8c40946a-key-renamed"}'
        headers:
            Content-Type:
                - application/json
        url: https://app.files.com/api/rest/v1/api_keys/5602719
        method: PATCH
      response:
        body: '{"id":5602719,"descriptive_label":"Site-wide API key for https://jschady2.files.com (key ID #5602719)","description":"102123","created_at":"2026-09-29T18:02:19-04:00","expires_at":null,"aws_style_credentials":false,"last_use_at":null,"name":"pulumi-test-combined-8c40946a-key-renamed","path":"pulumi-filescom-test/263912a6","permission_set":"files_only","platform":null,"site_id":153656,"site_name":"jschady2","url":"https://jschady2.files.com","user_id":null,"workspace_id":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 61.479167ms
[...]
    - id: 10
      request:
        host: app.files.com
        headers:
        url: https://app.files.com/api/rest/v1/groups/102123
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 53.74575ms
    - id: 11
      request:
        host: app.files.com
        headers:
        url: https://app.files.com/api/rest/v1/behaviors/598059
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 73.951ms
[...]
    - id: 16
      request:
        host: app.files.com
        url: https://app.files.com/api/rest/v1/api_key
        method: GET
      response:
        body: '{"id":5602101,"descriptive_label":"jlschady@gmail.com user-level API key for https://jschady2.files.com (key ID #5602101)","description":"","created_at":"2026-09-29T16:09:29-04:00","expires_at":"2027-10-10T00:00:00-04:00","aws_style_credentials":false,"last_use_at":"2026-09-29T17:33:59-04:00","name":"tmp","path":null,"permission_set":"full","platform":null,"site_id":153656,"site_name":"jschady2","url":"https://jschady2.files.com","user_id":1437572,"workspace_id":0}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 32.000667ms
[...]
    - id: 21
      request:
        host: app.files.com
        url: https://app.files.com/api/rest/v1/api_keys/5602719
        method: DELETE
      response:
        body: '{"error":"Not Found.  This may be related to your permissions.","http-code":404,"instance":"b9deab493fbb5b5a1fc6a63199e3ce01","title":"Not Found","type":"not-found"}'
        headers:
            Content-Type:
                - application/json
            X-Files-Error-Class:
                - not-found
        status: 404 Not Found
        code: 404
        duration: 38.105334ms
[...]
    - id: 25
      request:
        host: app.files.com
        form:
            recursive:
                - "true"
        url: https://app.files.com/api/rest/v1/files/pulumi-filescom-test/263912a6?recursive=true
        method: DELETE
      response:
        body: ""
        headers:
        status: 204 No Content
        code: 204
        duration: 62.648291ms
